<html>

    <head>

      <title>The Gossip Project</title>

    </head>

    <body>

      <h1>PAGE POTIN</h1>
      <a href="/gossips/new/">Creer un nouveau goosip</a>

      <h2>author : <%= gossip.author %></h2>
      <h2>content : <%= gossip.content %></h2>
      <a href="/">Tout les potins</a> <br>
      <a href="/gossips/<%= id %>/edit/">modifier</a>
    </body>
</html>